<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <h1> Contato </h1>
    <form method="POST" action="/" id="contato-form">
        <label for="nome"> Nome </label>
        <input type="text" name="nome" id="nome">
        <label for="pais"> País </label>
        <select name="pais" id="pais">
            <option selected disabled> Selecione </option>
            <option value="BR"> Brasil </option>
            <option value="AR"> Argentina </option>
            <option value="UY"> Uruguai </option>
            <option value="CH"> Chile </option>
            <option value="CO"> Colombia </option>
            <option value="PE"> Peru </option>
            <option value="EQ"> Equador </option>
            <option value="VZ"> Venezuela </option>
            <option value="PA"> Paraguai </option>
        </select>

        <button type="submit"> Enviar </button>
    </form>

    <script src="javascripts/app.js"></script>
</body>
</html>